<h1><p align="center">Tennis Score</p></h1>


<h3><p align="center">Partida:</p></h3>


<% if $puntaje1 == 40 && $puntaje2 == 30 %>
<center><h1><b> GANA Jugador1 </b></h1></center>
<%else%>
	<% if $puntaje1 == 40 && $puntaje2 == 40 %>
		<center><h1><b> DEUCE </b></h1></center>
	<% end %>

<% end %>


<h4><p align="center">jugador1</p></h4>
<p align="center">
<%= $jugador1 %>
<br>
<%= $puntaje1 %>
</p>




<form action="/jugadores" method="get">
	<p align="center"><input type="submit" value="Anotar"></p>
</form>

<br>

<% if $puntaje2 == 40 && $puntaje1 == 30 %>
<center><h1><b> GANA Jugador2 </b></h1></center>
<% end %>


<h4><p align="center">jugador2</p></h4>
<p align="center">
<%= $jugador2 %>
<br>
<%= $puntaje2 %>
</p>


<form action="/jugadores2" method="get">
  <p align="center"><input type="submit" value="Anotar"></p>
</form>


<form action="/volver" method="get">
  <p align="center"><input type="submit" value="volver"></p>
</form>

<br>
<br>

<% if $jugadas > 1 ||  $jugadas < 3 %>
<h1><b> Resultados tres ultimos juegos </b></h1>
<%= $jugada1 %>
<%= $result1 %>
<%= $jugada2 %>
<%= $result2 %>
<br>
<br>
<br>
<%= "**--**--**" %>
<br>
<%= $jugada3 %>
<%= $result3 %>
<%= $jugada4 %>
<%= $result4 %>
<br>
<br>
<br>
<%= "**--**--**" %>
<br>
<%= $jugada5 %>
<%= $result5 %>
<%= $jugada6 %> 
<%= $result6 %>
<br>
<br>
<% else %>
	<% if $jugadas == 3%>
		 <% $jugadas = 1 %>
		 <br>

<%= $jugada3 %>
<%= $result3 %>
<%= $jugada4 %>
<%= $result4 %>
<br>
<br>
<br>
<%= "**--**--**" %>
<br>
<%= $jugada5 %>
<%= $result5 %>
<%= $jugada6 %> 
<%= $result6 %>
<br>
<br>
	<% end %>

<% end %>



